In [ ]:
from pyspark.sql.types import *

In [ ]:
import pyspark.sql.functions as f

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from pyspark.sql.types import StructField,IntegerType, FloatType, BooleanType ,StructType,StringType

In [ ]:
from pyspark.sql.dataframe import DataFrame

In [ ]:
from datetime import datetime

In [ ]:
from pyspark.sql import Row

In [ ]:
import os

In [ ]:
import json

In [ ]:
import csv

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import requests

In [ ]:
camposX=[    StructField('ano',StringType(),True),  
             StructField('id_cliente',IntegerType(),True),
             StructField('id_plano',IntegerType(),True),
             StructField('plano_id',IntegerType(),True),
             StructField('vjan',FloatType(),True),
             StructField('vfev',FloatType(),True),
             StructField('vmar',FloatType(),True),
             StructField('vabr',FloatType(),True)
       ]
camposXStruct=StructType(fields=camposX)

In [ ]:
spark = (
    SparkSession
    .builder
    .master("local")
    .appName("test-Cosmer")
    .config("spark.sql.shuffle.partitions", 13)
    .config("spark.driver.memory", "10g")
    .config("spark.sql.legacy.createHiveTableByDefault", "false")
    .config("setLogLevel", "INFO")
    .config("spark.logConf", "true")
    .getOrCreate()
)
#spark.sparkContext.setLogLevel("WARN")

In [ ]:
# leitura do csv de contratos
df_pagax = spark.read.csv('pagaX.csv', header=True, sep=';',schema=camposPagaXStruct)
# leitura do csv de contratos
df_pagay = spark.read.csv('pagaY.csv', header=True, sep=';',schema=camposPagaYStruct)
#type(df_planos)
df_pagax.show()
df_igual = df_pagay.show()
listaPagtosN = []

#df_pagai = df_pagax.rdd.map(lambda x: (x.name, x.age, x.city))
for row in df_pagax.rdd.toLocalIterator():
    print(row['ano'])
#type(df_planos)

In [ ]:
df_clientes.createOrReplaceTempView("Clientes")
#type(df_clientes)

In [ ]:
# definição do esquema da tabela temporária de transações
spark.sql("SELECT * FROM Clientes").show()

In [ ]:
# leitura do csv de contratos
df_planos = spark.read.csv('planos.csv', header=True, sep=';',schema=planosStruct)
#type(df_planos)

In [ ]:
 .rdd.collect()
    qtd_meses = 0
    id = int(row['id'])
    str_date = row['data_pagamento']
    date = datetime.strptime(str_date, '%d/%m/%Y').date()
    #ano = f.colyear(row['data_pagamento'])
    #mes = f.month(row['data_pagamento'])
    #print(date, type(date))
    ano = str(date)[0:4]
    mes = str(date)[5:7]
    valor = float(row['valor'].replace('R$','').replace(',','.')) # float()
    meses = int(row['qtde_meses_pagos'])
    valorM = float(valor / meses)
    while qtd_meses < meses:
        if qtd_meses != 0:
            if mes == '12':
                mes = '01'
                ano = str(int(ano)+1)
            else:
                mes = str(int(mes)+1)
                if len(mes) == 1:
                    mes = '0'+mes
        anomes = ano + mes
        #print(anomes)
        #str_date = '2018-07-11'
        #date = datetime.strptime(str_date, '%Y-%m-%d').date()
        #print(date, type(date))
        dataP = date
        #print(row['id'], anomes , valorM , row['plano_id'], row['qtde_meses_pagos'], qtd_meses)
        linha = []
        linha.append(row['id'])
        linha.append(anomes)
        linha.append(valorM)
        linha.append(int(row['plano_id']))
        listaPagtos.append(linha)
        qtd_meses = qtd_meses + 1
        #print ('================')
del(df_pagamentosHj)